.titlecon
{
    background-color: red;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apd
{
    background-color: antiquewhite;
}
.eventd
{
   width: 30em;
}
.formcon
{
    background-color: white;
    padding: 0.5em;
    border-radius: 10px;
}